.roadmapContainer{
    background-color: #03091f;
    color: white;
    padding-top: 100px;
}
.roadmapContainer .title{
    margin-bottom: 50px;
}
.roadmap-card{
    background-color: #0a1026;
    padding:30px 20px;
    text-align: center;
    margin: 5px 50px;
    min-width: 200px;
}
.roadmap-card::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: rgb(199, 195, 195);
    position: absolute;
    margin-top: -45px;
    margin-left: -10px;
    z-index: 1;
    transform: rotate(45deg);
}

/* Modify Carousel  */
.carousel{
    border-top: 7px solid white;
}

/* .react-multiple-carousel__arrow--left::before{
    top: -100px;
    background-color: blue;
} */