.headerContainer{
    background-color: #03091f;
    display: flex;
    justify-content: center;
}

.logo{
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: rgb(227, 225, 225)
}