.footerContainer{
    background-image: url('../../images/footer-background.png');
    color: rgb(227, 225, 225);
    background-color: #081236;
    text-align: center;
    padding: 50px 40px;
}

.footerContainer p{
    color: rgb(230, 231, 240);
}
.about, .contact, .newsletter{
    padding: 0 30px
}
.about p, .newsletter p{
    margin: 22px 0;
    line-height: 30px;
}
.contact p{
    margin: 10px
}
.contact h4{
    margin-bottom: 20px;
}
.newsletter input{
    border-radius: 30px;
    padding: 5px 15px;
    outline: none;
}
.newsletter input:focus{
    border: 2px solid lightblue
}

.copyright{
    background-color: #020a27;
    border-top: 1px solid lightgray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(227, 225, 225);
    width: 100%;
    margin: auto;

}

.footerContainer h4::before{
    content: '';
    height: 1px;
    width: 50px;
    background-color: rgb(255, 102, 0);
    position: absolute;
    margin-top: 35px;
    margin-left: 24px
    

}