
button{
    cursor: pointer;
}
.gradient-text {
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(135deg,#846ff4,#f17674);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif
}

.row{
    margin-right: 0
}